html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background: #dbd9d9;
    margin: 0 auto;
}
.inner {
    max-width: 960px;
    margin: 0 auto;
    /* background-color: blue; */   
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}
.link:hover {
    text-align: right;
    font-family: cursive;
    color: red;
    float: right;
}
.images .inner {
    /* flex-wrap: wrap;
       justify-content: space-around; */

    /* Do not inherit display: flex; grid is very new and works with select/updated browsers only */
    display: -ms-grid;
    display: grid;
    -ms-grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.image {
    position: relative;
    line-height: 0;
    overflow: hidden;
}

.image__cover {
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    padding-top: calc(50% - .5em);
    transition: top .5s, background 1s;
}

/* Any .image__cover that's inside a hovered image should move back the top */
.image:hover .image__cover {
    top: 0;
    background: rgba(0, 0, 0, .5);
}

header {
    background: lightyellow;
    padding: 1em 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;  /* priority #1 */
    transition: padding .5s;
}
.header--small {
    padding: 0 0;
}
.header__logo {
    font-size: 2em;
    font-family: 'Cookie', cursive;
}

/* Profile Area Styles */
.profile {
    margin-top: 80px;
}
.profile__image {
    border: 4px solid greenyellow;
    border-radius: 50%; /* convert picture to circle */
    overflow: hidden; /* hide overflow from circle picture */
    width: 200px;
    height: 200px;
    flex: 0 0 200px; /* flex: grow-ratio shrink-ratio original-size */
    
}
.profile__info {
    flex: 1 1 400px;
    margin-left: 2em;
    font-family: 'Mogra', cursive;
}
.button {
    color: #4090db;
    text-decoration: none;
    border: 1px solid currentColor;
    padding: .5em 1em;
}
.button--blue {
    background-color: blue;
    color: white; 
    border-color: blue;
    padding: .5em 1em;
}
.profile__meta {
    display: flex;
    list-style: none;
    flex-direction: row; /* default */
    padding: 0;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.profile__meta li {
    margin-right: 2em;
    font-weight: bolder;
}

img {
    max-width: 100%;
}

/* when screen falls bel0w 1000px */
@media(max-width: 1000px) {
    .inner {
        padding-left: 1em;
        padding-right: 1em;
    }
}

/* when screen falls bel0w 630px */
@media(max-width: 630px) {
    .images .inner {
        -ms-grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .profile .inner {
        flex-direction: column;
    }
    .profile__image {
        width:100px;
        height: 100px;
        flex: 0 0 100px;
    }
    .profile__info {

    }

}
