/* Reset issue where padding isn't included in dimentions of an element */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #dbd9d9;
    margin: 0 auto;
}
.inner {
    max-width: 960px;
    margin: 0 auto;
    /*background-color: blue;*/   
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /*height: 60px;*/
}
header {
    background: lightyellow;
    padding: 1em 0;
}
.header__logo {
    font-size: 2em;
    font-family: 'Cookie', cursive;
}
/* Profile Area Styles */
.profile__image {
    border: 4px solid greenyellow;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.button {
    color: #4090db;
    text-decoration: none;
    border: 1px solid currentColor;
    padding: .5em 1em;
}
.button--blue {
    background-color: blue;
    color: white; 
    border-color: blue;
    padding: .5em 1em;
}
